## Files
.buildpath
.project
.settings
.idea
.DS_Store
.svn
.tgz
.htaccess


## composer
vendor
composer.lock
tools/phing-metadata

## SilverStripe Core
silverstripe-cache
framework
cms
assets/*

## Javascript
js/components
node_modules

## Themes
themes/*/.sass-cache
var/
Users

## Silverstripe Modules ##
blog
blogadmin
blogcategories
googlesitemaps
gridfieldextensions
gridfield-addons
gridfield-gallery-theme
gridfieldpaginatorwithshowall
html5
image-orientation-fixer
lumberjack
maintenance-mode
quickaddnew
reports
salted-cropper
salted-library
seo
silverstripe-block
silverstripe-cropperfield
silverstripe-dataobjectpreview
silverstripegmapsobject
silverstripe-optimisedimage
silverstripe-socialextensions
silverstripe-shortlist
silverstripe-standard-permissions
siteconfig
sqlite3
sortablegridfield
staticpublisher
tagfield
taxonomy
userforms
widgets
testsession
